<a href="https://colab.research.google.com/github/ShreyB2091/Machine-Learning-Project/blob/main/ML_Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
from scipy import stats

Q1 Let x = np.arange(4, dtype=np.int64). Create an array of ones with the same shape and type as X.

In [ ]:
x = np.arange(4, dtype=np.int64)
a = np.ones_like(x, dtype=np.int64)
print(a)

Q2 Let X = np.array([[1, 2], [3, 4]]). Convert it into a matrix.

In [ ]:
X = np.array([[1, 2], [3, 4]])
X = np.asmatrix(X)
print(X)
print(type(X))

Q3 Create a 1-D array of 50 evenly spaced elements between 3. and 10., inclusive.

In [ ]:
k = np.arange(3.0, 10.0 + 1 / 7, 1 / 7)
print(k)

Q4 Let x be array [[1, 2, 3], [4, 5, 6]]. Convert it to [1 4 2 5 3 6].

In [ ]:
x = np.array([[1, 2 ,3], [4, 5, 6]])
x = x.reshape(1, 6)
print(x)

Q5 Let x be an array [1, 2, 3, ..., 9]. Split x into 3 arrays, each of which has 4, 2, and 3 elements in the original order.

In [ ]:
x = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9])
sec_list = [4, 2, 3]
from itertools import islice
it = iter(x)
sliced = [list(islice(it, 0, i)) for i in sec_list]
print(sliced)

 Q6 Compute the inverse and primary diagnol sum of x=[[1,2],[3,4]]

In [ ]:
x = np.array([[1, 2], [3, 4]])
inv_x = np.linalg.inv(x)     # Inverse of x
print(inv_x)
tr = np.trace(x)     # Primary diagonal sum of x
print(tr)

Q7 Sort x along the second axis. x = [[1,4],[3,1]]

In [ ]:
x = np.array([[1, 4], [3, 1]])
x.sort(axis = 1)
print(x)

Q8 Get the indices that would sort x(as above) along the second axis.

In [ ]:
x = np.array([[1, 4], [3, 1]])
k = np.argsort(x, axis = 1)
print(k)

Initiate x as a 2x5 array with random values from 0 to 10(not inclusive).Get the maximum and minimum values and their indices of x along the second axis.

In [ ]:
x = np.random.randint(10, size = (2, 5))
print(x)
maxarg = np.argmax(x, axis = 1)
minarg = np.argmin(x, axis = 1)
print(x[1][maxarg[1]], maxarg) 
print(x[1][minarg[1]], minarg)

Run the following load command to get the 2-Dim iris dataset. Do the following operations on it.

In [ ]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_2d = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0,1,2,3])
print(iris_2d)

Drop rows that contain a missing value.

In [ ]:
for i in range (150):
  flag = 1
  for j in range (4):
    if iris_2d[i][j] is np.nan:
      flag = 0
      break
  if flag:
    print(iris_2d[i])

Find the correlation between first two columns.

In [ ]:
k1, k2 = iris_2d[:, 0], iris_2d[:, 1]
k = np.corrcoef(k1, k2)
print(k)

Find the mean,median and standard deviation of column 3.

In [ ]:
col = iris_2d[:, 2]
print(np.mean(col))
print(stats.mode(col))
col.sort()
print(np.median(col))

<!-- # *This* is formatted as code -->


Create a new column for volume in iris_2d, where volume is (pi x petallength x sepal_length^2)/3

In [ ]:
li = []
for i in range (150):
  li.append((np.pi * iris_2d[i][0] * iris_2d[i][0] * iris_2d[i][2]) / 3)
vol = np.array([li], dtype='float')
vol = vol.reshape(150, 1)
np.append(iris_2d, vol, axis = 1)

Run the following load command and solve the following questions

In [ ]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = np.genfromtxt(url, delimiter=',', dtype='object')
names = ('sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'species')
print(iris)

Find the count of unique species.

In [ ]:
m1 = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0,1,2,3], max_rows=50)
m2 = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0,1,2,3], skip_header=50, max_rows=50)
m3 = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0,1,2,3], skip_header=100, max_rows=50)
row1 = np.unique(m1, axis = 0)
row2 = np.unique(m2, axis = 0)
row3 = np.unique(m3, axis = 0)
un_rows = len(row1) + len(row2) + len(row3)
print(un_rows)

Bin the petal length (3rd) column of iris_2d to form a text array, such that if petal length is:
Less than 3 –> ‘small’
3-5 –> ‘medium’
‘>=5 –> ‘large’

In [ ]:
import pandas as pd

In [ ]:
bins = [0.0, 2.9, 5.0, 100.0]
bin_label = ['small', 'medium', 'large']
text = pd.cut(iris_2d[:, 2], bins, labels = bin_label)
text_array = np.array(text)
print(text_array)

Find the most frequent value of petal length (3rd column) in iris dataset

In [ ]:
col = iris[:, 2]
print(stats.mode(col))